body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #7f7f7f;
}

input {
    border: #7f7f7f solid 1px;
    color: #a0a0a0;
}

a {
    color: #7f7f7f;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
}