body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #7f7f7f;
}

input {
    border: #7f7f7f solid 1px;
    color: #a0a0a0;
}

a {
    color: #7f7f7f;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/calendar.png) no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}