<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>PercaPeso</title>
  <!--[if IE]><script type="text/javascript" src="/javascripts/excanvas.compiled.js"></script><![endif]-->
  <!--[if IE]><script type="text/javascript" src="/javascripts/jquery.bgiframe.min.js"></script><![endif]-->

  <%= javascript_include_tag ['jquery.min',
                              'date',
                              'date.pt-BR',
                              'jquery.datepicker',
                              'jquery.flot.min',
                              'jquery.flot.crosshair',
                              'jquery.labelify'] %>

  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'datepicker' %>
</head>
<script type="text/javascript">
    $(document).ready(function() {
        $('.date-pick').datePicker({startDate:'01/11/2009'}); // .val($(this).attr('value')).trigger('change');
        labelify();
    });
</script>

<body>
<%= yield %>
<div id="footer">
  PercaPeso<br/>
  Versão 0.4.35 - 22/Dez/2009
</div>
</body>
</html>
