<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>PercaPeso</title>
  <!--[if IE]><script type="text/javascript" src="/javascripts/excanvas.compiled.js"></script><![endif]-->

  <%= javascript_include_tag ['jquery.min',
                              'date',
                              'jquery.datepicker',
                              'jquery.flot.min',
                              'jquery.labelify.js'] %>

  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'datepicker' %>
</head>
<script type="text/javascript">
    $(document).ready(function() {
        if ($('.date-pick').length > 0) {
            $('.date-pick').datePicker({startDate:'2009-11-01'}).val($(this).attr('value')).trigger('change');
        }
        labelify();
    });
</script>

<body>

<!-- p style="color: green"><%#= flash[:notice] %></p -->

<%= yield %>

</body>
</html>
